%h2 Activities

= render 'layouts/pagination', collection: @activities

%ol
  - @activities.each do |activity|

    - if activity.item_type == "task"
      = render 'task', activity: activity

    - elsif activity.item_type == "project"
      = render 'project', activity: activity

= render 'layouts/pagination', collection: @activities
